{% extends "home/base.html" %}

{% block title %}
Home | {{ block.super }}
{% endblock title %}


{% block content %}
{{ block.super }}
<style>
    .parallax-container {
        height: 600px;
    }
</style>


<main>

    <!--<div class="carousel carousel-slider">-->
        <!--<a class="carousel-item" href="#one!"><img src="http://lorempixel.com/800/400/food/1"></a>-->
        <!--<a class="carousel-item" href="#two!"><img src="http://lorempixel.com/800/400/food/2"></a>-->
        <!--<a class="carousel-item" href="#three!"><img src="http://lorempixel.com/800/400/food/3"></a>-->
        <!--<a class="carousel-item" href="#four!"><img src="http://lorempixel.com/800/400/food/4"></a>-->
    <!--</div>-->


    <div class="row">
        <div class="col s12">
            <h1 class="flow-text center">Events</h1>
        </div>
    </div>

    <div class="row">
        {% include "home/event_format.html" with events=events %}
    </div>
</main>

{% endblock content %}

<script>
    {% block jquery %}
        $('.carousel.carousel-slider').carousel({fullWidth: true});
    {% endblock jquery %}
</script>
