<footer class="page-footer {{ request.session.color }}">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Connect with us</h5>
                <p class="grey-text text-lighten-4">we will organise the best event u can possibly think of.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Visit</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{% url 'home' %}">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'events' %}">Events</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'about' %}">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 SHIVAY
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>